/*Login Form Style*/
:root {
  --background-color: #f1d9b3;
  --background-color2: #c4ac87;
  --background-color3: #dbc49f;
  --accent-color2: #77352c;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
}
.logincontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 550px;
    border-radius: 5px;
    padding: 35px 25px;
    background-color: var(--background-color2);
}

.logincontainer h2 {
    text-align: center;
}

.logincontainer label {
    margin-left: -1px;
    display: inline-block;
    height: 30px;
    line-height: 50px;
}

.logincontainer input {
    width: 97%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 5px;
    border: 1px solid var(--accent-color2);
}

button:hover {
    opacity: 0.8;
}

img {
    display: block;
    max-width: 200px;
    margin: auto;
}

.logincontainer button {
    width: 97%;
    border-radius: 5px;
    border-width: 0px;
    padding: 13px;
    margin-top: 10px;
    background-color: var(--accent-color2);
    color: var(--background-color);
    cursor: pointer;
}
