:root {
  --background-color: #f1d9b3;
  --background-color2: #c4ac87;
  --background-color3: #dbc49f;
  --accent-color: #326068;
  --accent-color2: #77352c;
}

body {
  background:var(--background-color);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  background: var(--background-color3);
  align-items: center;
  height: 70px;
  padding: 20px;
  top: 0;
  position: sticky;
}

.nav-header a {
  text-decoration: none;
  margin-right: 10px;
  color: black;
  font-weight: 600;
}

.nav-header p {
  font-size: 1.6rem;
  font-weight: 600;
}

.side-menu-container {
  width: 265px;
  background: var(--background-color3);
  position: absolute;
  top: 70px;
  left: 0;
  height: 489px;
  z-index: 1000;
}

.side-menu-container .menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color2);
  margin: 0 10px 10px 10px;
  height: 130px;
  font-size: .8rem;
}

.side-menu-container div {
  display: flex;
  align-items: center;
  padding: 10px;
  /* text-align: center; */
  font-size: 1.2rem;
}

.side-menu-container div:hover {
  background: var(--background-color2);
}

.link-container span {
  margin-right: 10px;
}

.span-icon {
  display: inline-block;
  line-height: 55px;
  text-align: center;
  width: 40px;
  height: 40px;
  /* background: var(--background-color2); */
}

.menu-icon {
  font-size: 30px;
}

.menu-text {
  display: inline-block;
  line-height:27px;
  vertical-align: middle;
  height: 41px;
}

.logo {
  width: 50%;
}